* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

body {
  height: 100vh;
  background-color: #fff;
}

.container {
  display: flex;
  height: 100vh;
}

.left {
  flex: 1;
  padding: 60px 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}

.right {
  flex: 1;
  background-color: #8B4513;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right img {
  width: 75%;
  max-width: 500px;
}

.logo {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.logo-icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.brand {
  font-size: 20px;
  font-weight: 600;
  color: #1E1E1E;
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.auth-form h1 {
  font-size: 28px;
  font-weight: 700;
  color: maroon;
}

.auth-form p {
  color: #7C7C8A;
  font-size: 14px;
}

label {
  font-size: 14px;
  color: #1E1E1E;
  margin-bottom: 4px;
}

input {
  padding: 12px 16px;
  border: 1px solid #EAEAEA;
  border-radius: 8px;
  font-size: 14px;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.options a {
  color: #5E4AE3;
  text-decoration: none;
}

.primary-btn {
  background-color: maroon;
  color: #fff;
  font-size: 14px;
  padding: 12px 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
}

.google-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border: 1px solid #EAEAEA;
  padding: 12px 16px;
  border-radius: 8px;
  font-size: 14px;
  background-color: #ffffff;
  margin-top: 8px;
  cursor: pointer;
}

.toggle-text {
  font-size: 14px;
  color: #7C7C8A;
}

.toggle-text a {
  color: #5E4AE3;
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
}

.hidden {
  display: none;
}
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  margin: 40px;
}

.grid button {
  padding: 20px;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.content-area {
  padding: 30px;
  margin: 20px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}
